@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --pink: #e84393;
  --red: #c0392b;
  --orange: #f39c12;
  --black: #333;
  --white: #fff;
  --light-white: #ccc;
  --light-color: #666;
  --light-bg: #f5f5f5;
  --yellow: #b77923;
  --black: #130f40;
  --green: #139d26;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background-color: var(--yellow);
  color: var(--white);
}
*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

body {
  background: var(--light-bg);
}

section {
  padding: 3rem 2rem;
}
.heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--black);
}

.heading span {
  background: var(--yellow);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.title {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--yellow);
  text-transform: uppercase;
  font-size: 4rem;
}
.btn,
.option-btn {
  display: inline-block;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  color: var(--white);
  cursor: pointer;
  padding: 1rem 3rem;
  text-transform: capitalize;
}

.delete-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  color: var(--black);
  text-transform: capitalize;
  cursor: pointer;
  background: none;
}
.delete-btn:hover {
  background: var(--yellow);
  color: #fff;
}
.message {
  position: sticky;
  top: 0;
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--light-bg);
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
  z-index: 10000;
  justify-content: space-between;
}

.message span {
  color: var(--black);
  font-size: 2rem;
}

.message i {
  font-size: 2.5rem;
  color: var(--yellow);
  cursor: pointer;
}

.message i:hover {
  transform: rotate(90deg);
}

.empty {
  padding: 1.5rem;
  font-size: 2rem;
  color: var(--red);
  border: var(--border);
  box-shadow: var(--box-shadow);
  text-align: center;
  background-color: var(--white);
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.btn {
  background-color: var(--yellow);
}

/*.delete-btn {
  background-color: #130f40;
}*/

.option-btn {
  background-color: var(--yellow);
}

.btn:hover,
.option-btn:hover {
  background-color: #333;
}

@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
  }
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header .flex .account-box {
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 33rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  padding: 2rem;
  text-align: center;
  border: var(--light-bg);
  display: none;
  animation: fadeIn 0.2s linear;
}

.header .flex .account-box.active {
  display: inline-block;
}

.header .flex .account-box p {
  padding-bottom: 1rem;
  font-size: 2rem;
  color: #130f40;
  line-height: 1.5;
}

.header .flex .account-box p span {
  color: var(--yellow);
}

.header .flex .account-box div {
  font-size: 2rem;
  margin-top: 2rem;
  color: var();
}

.header .flex .account-box div a {
  color: var(--yellow);
}

.header .flex .account-box div a:hover {
  text-decoration: underline;
}

.header .flex .icons div {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: var(--black);
}

.header .flex .icons div:hover {
  color: var(--yellow);
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: var(--black);
}

.header .flex .navbar a:hover {
  /*text-decoration: underline;*/
  color: var(--yellow);
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .flex .logo span {
  color: var(--yellow);
}
#menu-btn {
  display: none;
}

.dashboard {
  min-height: 86vh;
  background: linear-gradient(
      rgba(239, 226, 182, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(banner.jpg);
  background-position: center;
  background-size: cover;
}
.dashboard .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard .box-container .box {
  text-align: center;
  border: #666;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 0.5rem;
}

.dashboard .box-container .box h3 {
  font-size: 4.5rem;
  color: var(--yellow);
}

.dashboard .box-container .box p {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #edeae6;
  color: var(--black);
  border: var(--light-color);
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
}
/*.add-products {
  min-height: 86vh;
  background: linear-gradient(
      rgba(239, 226, 182, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(banner.jpg);
  background-position: center;
  background-size: cover;
}*/
.add-products form {
  max-width: 50rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  border: var(--light-bg);
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
}

.add-products form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1rem;
}

.add-products form .box {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.8rem;
  color: var(--black);
  border-radius: 0.5rem;
  background-color: #edeae6;
  padding: 1.2rem 1.4rem;
  border: var(--light-bg);
  /* box-shadow: var(--box-shadow)*/
}

.add-products form textarea {
  height: 15rem;
  resize: none;
}
.show-products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  gap: 1.5rem;
  align-items: flex-start;
  max-width: 20000px;
  margin: 0 auto;
  justify-content: center;
}

.show-products .box-container .box {
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: var(--box-shadow);
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
}

.show-products .box-container .box .image {
  /* height: 30rem;
  margin-bottom: 0.5rem;*/
  margin: 1rem 0;
  height: 15rem;
}

.show-products .box-container .box .price {
  /*background-color: #130f40;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 0.5rem;
  color: var(--white);
  padding: 1rem;
  font-size: 2rem;*/
  font-size: 2rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}

.show-products .box-container .box .name {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}

.show-products .box-container .box .details {
  line-height: 1.5;
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.update-product form {
  max-width: 50rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  border: var(--light-bg);
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
}

.update-product form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1rem;
}

.update-product form .box {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.8rem;
  color: var(--black);
  border-radius: 0.5rem;
  background-color: #edeae6;
  padding: 1.2rem 1.4rem;
  border: var(--black);
}

.update-product form textarea {
  height: 15rem;
  resize: none;
}
.update-product .image {
  height: 15rem;
  /*border: var(--border);*/
  border-radius: 0.5rem;
}
.placed-orders {
  min-height: 86vh;
  background: linear-gradient(
      rgba(239, 226, 182, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(banner.jpg);
  background-position: center;
  background-size: cover;
}
.placed-orders .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  gap: 1.5rem;
  align-items: flex-start;
  max-width: 2000px;
  margin: 0 auto;
  justify-content: center;
}

.placed-orders .box-container .box {
  padding: 2rem;
  border: var(--light-bg);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.placed-orders .box-container .box p {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--light-color);
}

.placed-orders .box-container .box p span {
  color: var(--yellow);
}

.placed-orders .box-container .box form {
  margin-top: 1rem;
  text-align: center;
}

.placed-orders .box-container .box form select {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.8rem;
  color: var(--black);
  border-radius: 0.5rem;
  background-color: #edeae6;
  padding: 1.2rem 1.4rem;
  border: var(--light-bg);
}
.users {
  min-height: 86vh;
  background: linear-gradient(
      rgba(239, 226, 182, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(banner.jpg);
  background-position: center;
  background-size: cover;
}
.users .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  gap: 1.5rem;
  align-items: flex-start;
  max-width: 2000px;
  margin: 0 auto;
  justify-content: center;
}

.users .box-container .box {
  padding: 2rem;
  border: var(--light-bg);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
}

.users .box-container .box p {
  font-size: 2rem;
  color: var(--light-color);
  margin-bottom: 1rem;
  line-height: 1.5;
}

.users .box-container .box p span {
  color: var(--yellow);
}

.users .box-container .box .delete-btn {
  margin-top: 0.5;
}
.messages {
  min-height: 86vh;
  background: linear-gradient(
      rgba(239, 226, 182, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(banner.jpg);
  background-position: center;
  background-size: cover;
}
.messages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  gap: 1.5rem;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.messages .box-container .box {
  padding: 2rem;
  border: var(--light-bg);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
}

.messages .box-container .box p {
  font-size: 2rem;
  color: var(--light-color);
  margin-bottom: 1rem;
  line-height: 1.5;
}

.messages .box-container .box p span {
  color: var(--yellow);
}
/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    margin: 2rem;
    display: block;
  }
}

#menu-btn {
  display: none;
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    margin: 2rem;
    display: block;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .title {
    font-size: 3.5rem;
  }
}
